[2013-06-25 00:27] zodman opened #2 "support soundcloud"
dude what do you think about it?

i have implement it on: https://github.com/zodman/django-embed-video/commit/a1dc7d99fa45b0cd9b0028095e58c4513f84604c

[2013-06-25 09:19] #2 closed, assigned to nobody

[2013-08-03 10:24] techdragon opened #4 "Support specifying video options"
The youtube & vimeo players support a number of options and these arent currently handled very well.

Generic support to specify these options would be great.

Just a very rough idea of the sort of thing Im trying to describe:

[code]

And have it render the youtube widget into the page set to use html5 and default to the hd version of the video, and size the iframe to small.

Does that make sense

[2013-08-12 10:23] #4 closed, assigned to nobody

[2013-08-19 12:46] tomtichy opened #5 "Get type of video"
Hi,
I think it would be useful to provide something like `my_video.type` in template tag. It would containt `youtube`, `vimeo` etc. Because I need to do something like this:

[code]

[2013-08-20 08:49] #5 closed, assigned to nobody

[2013-08-29 10:23] r4fek opened #7 "KeyError exception"
Try to type the URL "http://youtube.com/watch?id=5" in EmbedVideoFormField.

File "/usr/local/lib/python2.7/dist-packages/embed_video/backends.py" in get_code
1.             code = urlparse.parse_qs(parse_data.query)['v'][0]

Exception Type: KeyError at ...
Exception Value: 'v'

[2013-09-03 11:47] #7 closed, assigned to nobody

[2013-10-23 12:30] moskrc opened #10 "Can't parse this URL"
https://www.youtube.com/watch?v=XPk521voaOE&feature=youtube_gdata_player

[2013-10-23 21:02] #10 closed, assigned to nobody

[2013-11-30 22:19] duy opened #11 "Vimeo player doesn't retrieve anything when used from a site using https"

[2013-12-21 16:20] #11 closed, assigned to nobody

[2014-01-24 15:27] dellis23 opened #15 "Fix examples in documentation"
The documentation has the following as an example of embedding:

[code]

There's also an example of how to use custom sizes:

[code]

After digging through the code to try to determine why I was getting an error with this code, I got the code working by doing `{{ item.video.url|embed:"296x195" }}`.  I'm not 100% sure what the best practice way of using the library is, so I won't make suggestions a

[2014-01-24 15:48] #15 closed, assigned to nobody

[2014-02-21 19:28] esomething opened #17 "YouTube get_code Should Ignore Everything After an &"
When the YT get_code function is given a URL that has any extra data after the v=CODE, the re is returning the last code whereas it should be returning the first code.

For example, take this YT url:

http://www.youtube.com/watch?v=6xu00J3-g2s&list=PLb5n6wzDlPakFKvJ69rJ9AJW24Aaaki2z

The get_code function returns PLb5n6wzDlP, where it should return 6xu00J3-g2s.

My regex skills aren't quite good e

[2014-02-21 20:15] #17 closed, assigned to nobody

[2014-02-22 08:23] yetty opened #18 "UnknownBackendException in template"
_Malek Yala wrote:_

Hey troubles with django-embed-video

It works very well when I want to have a video but when I leave the urlfield blank I get an UnknownBackenExeption error. I have added blank=True, tried Null=True, required=false, but my blog model doesn't seem allow me to NOT have an embed.

Please Help,
Malek

[code]

[2014-02-22 08:42] #18 closed, assigned to nobody

[2014-03-24 15:27] mpachas opened #21 "raise ValueError("No JSON object could be decoded") ValueError: No JSON object could be decoded"
raise ValueError("No JSON object could be decoded")
ValueError: No JSON object could be decoded
I'm getting this exception if a Soundcloud resource does not exists, I think they do not give us an 'empty or wrong configured element' as youtube does, with an empty player and a generic 'missing' thumbnail, so all the thumbnail boxes (as the standard DjangoEmbedField widget) explode.

[2014-03-24 16:19] #21 closed, assigned to nobody

[2014-03-25 19:46] mpachas opened #22 "Including templates/embed_video/embed_code.html."
I'm not sure if I'm doing something wrong but embed_code.html is not installed when installing last version from git.

[2014-03-25 21:10] #22 closed, assigned to nobody

[2014-05-07 13:19] javierwilson opened #24 "expected string or buffer"
When using ListView.as_view
{% video item.video 'small' %}
I get: expected string or buffer in embed_video/backends.py in is_valid, line 144

It only works if I get the string value first, for example:
{% video item.video|default_if_none:"" 'small' %}

[2014-05-07 20:33] #24 closed, assigned to nobody

[2014-05-07 21:22] yetty opened #25 "Add info about #20 to change log"

[2014-05-07 21:23] yetty opened #26 "Support for Python 2.6"
Krzysztof Szularz (@szuliq) wrote:

[code]

[2014-05-24 07:27] #25 closed, assigned to nobody

[2014-05-24 07:30] #26 closed, assigned to nobody

[2014-07-02 17:11] mpachas opened #29 "Soundcloud embed fails?"
I'm not sure about this, but maybe Soundcloud has done some changes on its API, but embeds are not working now in my project, could you please check this? Got this when testing:
ERROR: test_code (embed_video.tests.tests_backend.SoundCloudBackendTestCase)
FAIL: test_get_thumbnail_url (embed_video.tests.tests_backend.VimeoBackendTestCase)

Thanks in advance.

[2014-07-03 09:30] #29 closed, assigned to yetty

[2014-07-10 02:05] Calzzetta opened #30 "SoundCloud not working"
I was using django-embed-video with SoundCloud and it isn't working anymore.

The SoundCloud url example: https://soundcloud.com/the-bugle/the-bugle-summer-break-1

Template:

[code]

[2014-07-11 22:22] sunjoomoon opened #31 "How to Validate youtube url before saving"
How to validate if youtube video url format is correct before saving? Wrong url format saved returns error both in the browser and admin page.

[2014-07-19 08:11] #31 closed, assigned to yetty

[2014-07-19 13:31] amits97 opened #33 "Cannot install using pip (Windows 8)"
I tried installing django-embed-video using the command:

[code]

But I am getting the error:

[code]

I am using Windows 8, and am running Python 3.4.1. Why am I getting this error? I thought importlib comes along with Python 3.4.1

Here are the contents of pip.log

[code]

How do I fix this error?

Thanks

[2014-07-20 22:15] mpachas opened #34 "Question: get https embed url"
Hi,
Reading docs I understand that is_secure=True/False depends on the request that renders the template..
When I want to offer a Video Player TwitterCard (from my http site) of a youtube video I need the HTTPS embed url (https://www.youtube.com/embed/video-code), the same with SoundCloud and others.. but when my templates renders {{ my_video.url }} it gives me the unsecured embed url.
Could I for

[2014-07-21 13:25] #30 closed, assigned to yetty

[2014-07-26 11:32] yetty opened #35 "Support for `empty` syntax in template tag"
Proposal:

[code]

[2014-07-26 14:20] yetty opened #37 "Support for Django 1.7"

[2014-07-26 14:51] yetty opened #38 "Tests fails randomly in Python 3.3"
It is caused by non-sorted dict. No solution yet.

http://stackoverflow.com/questions/14956313/dictionary-ordering-non-deterministic-in-python3

[2014-07-26 14:54] #34 closed, assigned to yetty

[2014-07-26 15:05] #38 closed, assigned to nobody

[2014-07-26 15:08] yetty opened #39 "Remove --use-mirrors from .travis.yml"

[2014-07-29 08:06] #39 closed, assigned to nobody

[2014-08-09 04:32] SalahAdDin opened #40 "Show thumbnails or videos in admin list"
I don't understand how works AdminVideoMixin, i put this mixin in my model admin, but, i can't see the video, only the URL, but not the video!

[2014-10-15 15:09] emyller opened #43 "Allow loading of higher resolution thumbnail"
By default, embed-video loads thumbnails from YouTube based on the following format: `'{protocol}://img.youtube.com/vi/{code}/hqdefault.jpg'`.

It would be very good if I could load a higher-res thumbnail. The following string format could be used: `'{protocol}://img.youtube.com/vi/{code}/maxresdefault.jpg'`.

[2014-10-16 12:05] PeeraphatHan opened #44 "AttributeError: 'module' object has no attribute 'EmbedVideoField'"
this is my code

[code]

i'm alrady pip install django-embed-video
i have embed _video in install app
i have 'django.core.context_processors.request', in template context

how ever when i makemigrations or syncdb

it error  AttributeError: 'module' object has no attribute 'EmbedVideoField'

ps i use django 1.7

[2014-10-17 08:27] #44 closed, assigned to nobody

[2014-11-08 11:26] #37 closed, assigned to yetty

[2014-12-09 18:55] #33 closed, assigned to nobody

[2014-12-17 05:02] SalahAdDin opened #46 "Diference between django-embed-video and djangocms_video"
Yes men, whats about your project?
Is better than django cms plugin?
Please, don't leave dead this project.

[2014-12-17 09:29] #46 closed, assigned to nobody

[2015-02-12 12:50] busla opened #48 "Error: Backend wasn't recognised"
I got the following error when loading a page with embed-video code but found the solution so I´ll post the traceback and my template code.

I´m using Swiper (https://github.com/nolimits4web/Swiper/) as a carousel with links on each slide to Vimeo videos and html5lightbox (http://html5box.com/html5lightbox/) to display the the embeded video.

I needed to include the html5lightbox.js file at the ve

[2015-02-13 10:11] yetty commented on #48
Obviously the variable `testimonial.video` contains emty string. In this case backend cannot be recognized and it is corrert behaviour. This exception is catched in `embed_video_tags.py:103` and just logged as exception - check, how your logging is configured, you may see this exception in console, I suppose. The page should be rendered normally.

[2015-02-23 21:33] cubicova17 commented on #35
@yetty how would you recommend to implement it until v1.o realise?

[2015-02-26 04:01] SalahAdDin commented on #35
Wow, this will be very useful, thank you!

[2015-02-26 17:16] yetty commented on #35
The simpliest way is to get info in views. But it is supported only for Vimeo and SoundCloud backend. YouTube backend doesn't support it yet.

[code]

[2015-03-14 09:34] yetty commented on #48
No response for long time. Closing.

[2015-03-14 09:34] #48 closed

[2015-03-16 01:03] SalahAdDin commented on #48
So bad.

[2015-04-30 20:56] SalahAdDin opened #49 "Deprecation warning in Django 1.8"
Hello, we have this warning:
[code]

[2015-04-30 21:25] SalahAdDin commented on #49
Please release the new embed_video version :D, the new versio fix many warnings :D

[2015-04-30 21:25] #49 closed

[2015-08-09 13:45] sunjoomoon opened #50 "'NoneType' object has no attribute 'strip'"
django 1.6.10,  embed_video, VERSION = (0, 10, 'stable')

#models.py
```video = EmbedVideoField(_('video url'), blank=True,null=True)```

When I save the page empty field from admin, below is returned, what could cause this? But if I put youtube url, then it is saved okay and all in good shape.

[code]

[2015-09-16 13:04] bee-keeper commented on #50
@sunjoomoon are you using any 3rd party apps? I'm also getting this error but with Django 1.8 and model translation.

[2015-09-16 14:56] yetty commented on #50
@sunjoomoon please copy and paste full error stacktrace.

[2015-09-16 18:28] bee-keeper commented on #50
I think the issue here is to with initialising with `null=True`, I presume Django does a strip() and this is what causes the error.

As per the thread [here](https://github.com/deschler/django-modeltranslation/issues/221) remove `null=True` and that fixes the problem.

[2016-01-06 16:58] yetty opened #52 "Add support for Django 1.9.1"

[2016-01-14 12:32] DiogoMarques29 commented on #43
Hi
How about this?
http://stackoverflow.com/questions/6471275/python-script-to-see-if-a-web-page-exists-without-downloading-the-whole-page?answertab=active#tab-top

This is a way to check if status code is < 400 without downloading the whole page.

[2016-01-14 15:15] DiogoMarques29 commented on #43
Hi again

I have found a better solution that works like this:
[code]

[2016-01-14 15:32] yetty commented on #43
Great! Can you create a pull request with this improvement?

[2016-01-14 15:41] DiogoMarques29 commented on #43
I will as soon as i have some time. Got any ideia when a new release will be available?

[2016-01-14 18:09] yetty commented on #43
As soon as the support for Django 1.9 will be added + this functionality, too.

[2016-01-19 13:13] #43 closed

[2016-01-19 13:13] #52 closed

[2016-01-19 19:04] yetty commented on #52
Done in PR #53.

[2016-01-26 06:02] lip365 opened #54 "combining submit url link I created and video url together?"
Hello , thanks for making this app.
Is there a way to combine url form I created and video url form together?
I have
url = models.URLField(max_length=250, blank=True, null=True)
video = EmbedVideoField(verbose_name='My video',blank=True, null=True)

I want them to be combined, is this possible?

[2016-01-26 16:59] yetty commented on #54
I don't really understand your question. May you specify what's your purpose?

[2016-01-30 09:45] lip365 commented on #54
sorry I just saw your reply, in my post model I have two fields url = models.URLField(max_length=250, blank=True, null=True) and video = EmbedVideoField(verbose_name='My video',blank=True, null=True). User is pasting url for bot of them, so I was wondering if I can just show one url form and if user puts video url then make django-embeded-video to activate. otherwise my url function to work.
The p

[2016-02-13 07:57] sunjoomoon commented on #50
Long time, yes indeed. somehow at the database level that is not quite happy with ```null``` value. As you said removing ```null=True``` did the job.

[2016-02-13 08:29] #50 closed

[2016-04-12 10:32] mpachas opened #55 "Thoughts about youtube parameters"
Hi!
We are trying to get youtube captions work with django-embed-video approach.
Now django-embed-video extracts 'code' but ignores all the params stuff...
I think a smart idea would be to store them in a dict so them could be used later, maybe with some settings like 'ALLOW_YOUTUBE_CAPTIONS_PARAMETERS = TRUE', have you ever thought about something like that?

Thanks

[2016-04-12 10:43] yetty commented on #55
Can you give more information, what do you think with "all the params stuff“? Some example of input and usage in application.

[2016-04-12 11:01] mpachas commented on #55
Ok: Imagine I have a youtube video with English and French captions, so I could use this url to force captions to load in french:

https://www.youtube.com/watch?v=7-VskJwqx88&cc_load_policy=1&cc_lang_pref=fr&hl=fr

When I use this url with YoutubeBackend I can't reach cc_load_policy, cc_lang_pref or hl values and use them when embedding the video, so the video embeds ok but captions are not activa

[2016-04-14 00:18] thijstriemstra opened #56 "typo in github project description"
Should be 'embedding'.

[2016-04-14 00:19] thijstriemstra commented on #56
Oh and another one here :)

https://github.com/yetty/django-embed-video/blob/master/embed_video/fields.py#L14

[2016-04-14 00:23] thijstriemstra opened #57 "HTML video/audio backend"
It looks like regular urls don't have a fallback to a `<video>` element that plays back the content. Would adding a native HTML video/audio backend (as a default for urls that end with .mp3, .mp4 etc) make sense (and be welcome or considered a plugin)?

[2016-04-14 09:08] #56 closed

[2016-04-14 09:08] yetty commented on #56
Thanks :)

[2016-04-14 12:43] yetty commented on #57
New backend to provide `<video>` functionality sounds great. I'm looking forward to your pull request.

[2016-04-14 12:47] yetty commented on #55
It makes sense. Better than regular expressions would be parameter extraction using `urlparse`. It would be great if you could create pull request with this functionality.

[2016-04-14 12:51] mpachas commented on #55
I will try, I'm working at a lot of projects nowdays.
El 14 abr. 2016 14:47, "Juda Kaleta" <notifications@github.com> escribió:

[2016-04-14 15:59] thijstriemstra commented on #57
Cool, I've started working on it [here](https://github.com/thijstriemstra/django-embed-video/tree/video-backend). Just switched to tox for testing against multiple Django/Pythons locally, now on to the real code.

[2016-04-14 18:08] thijstriemstra commented on #57
@yetty I suppose as long as the URL is correct (verified by django's urlvalidator in the model or form field) we will try the '`BasicMediaBackend`' (what I called it for now, better suggestions for a name are welcome). This because a media URL doesn't necessarily have an extension (e.g. `http://foo.com/myvideostream`). Should the code and thumbnail url always return `None`?

[2016-04-18 11:09] yetty commented on #57
There should be at least some checks, that given URL is valid. I guess the best solution would be to check, if server gives correct `Content-Type` in response. Based on content type it would be used the propriate backend — video or audio.

For example if you use the video from http://www.quirksmode.org/html5/tests/video.html, the headers are

[code]

so video backend should be used.

I suggest the

[2016-04-18 13:48] thijstriemstra commented on #57
@yetty I've opened #58 with a backend that works here but there are still some quirks:

- we need sane defaults for width/height of the audio and video elements
- the tests need to be improved (what to do with urls that return 404, 301 etc, because adding a check for this causes the other backend tests to fail)

Any feedback is welcome.

[2016-04-18 14:31] yetty commented on #57
Thanks for all the spelling and grammar corrections! :)

- For video I would use the [`default_size`](https://github.com/yetty/django-embed-video/blob/master/embed_video/templatetags/embed_video_tags.py#L56). For audio there is [no need of sizes](http://www.w3schools.com/tags/tag_audio.asp).

- `BackendTestMixin` is designed to run tests against real urls. (In fact it works more like integration t

[2016-04-18 20:08] thijstriemstra commented on #57
Updated the PR @yetty

I'm not sure how to change the default_size on a custom backend?

I've added some real urls. It seems to succeed on all builders except Django 1.5 and 1.6 on Python 3.4 (?!).

Also added the templates. Coverage remains the same. Leaving the initial data for the example up to you, I couldn't get it to work with Django 1.9.

[2016-05-30 09:25] yetty opened #59 "Looking for maintainer"
I don't have time anymore to work on django-embed-video. The package is pretty stable and requires just occasional updates. Anyway, there are still some problems to be solved ([see issues](https://github.com/yetty/django-embed-video/issues)).

My appeals to new maintainer:
- keep backward compatibility as much as possible
- write unit tests
- give some time to update documentation

If you would li

[2016-05-30 16:42] thijstriemstra commented on #59
I guess I would be interested. Sent me an email at info @ collab.nl and we'll go from there?

[2016-05-30 16:44] mgrdcm commented on #59
Thanks for your work on this, @yetty!  I'd also be interested in helping maintain this handy package, which has certainly proved useful to me.

[2016-05-30 17:59] yetty commented on #59
Great, thank you. I've added you as collaborators to this repository. Please give me your usernames for pipy and read the docs, so I would be able to add you there too.

[2016-05-30 21:41] mgrdcm commented on #57
@thijstriemstra Since we're both now maintainers on this, would you be OK with me reviewing your changes (starting with this one), and you review mine should I have any?

[2016-05-30 22:42] thijstriemstra commented on #57
Sounds good @mgrdcm!

[2016-06-03 01:34] thijstriemstra commented on #57
Let me change the title of this PR to HTML5 video or something. Video.js support can be integrated later.

[2016-11-18 20:44] #35 closed

[2016-11-18 20:45] #40 closed

[2016-11-18 20:46] #54 closed

[2016-11-18 20:50] #59 closed

[2016-12-26 04:53] viirak opened #67 "How about Facebook Video?"

[2016-12-26 11:06] SalahAdDin commented on #67
Better YouTube or a video server site.

[2016-12-27 10:01] CedricCarrard commented on #67
@viirak Hey, you always can used a personalized backend. If it is really asked, I can can be the added in the next release

[2017-01-26 20:46] #67 closed

[2017-02-24 12:31] SalahAdDin commented on #57
:+1:

[2017-03-06 18:48] mpachas opened #69 "Youku backend"
Hi. I'm trying to write Youku (Chinese video service) backend. An API key is needed in order to use open api requests... should I get one for all the entire project or draw it as a settings parameter?

[2017-03-11 16:38] abecede753 commented on #55
Also, if this is being worked on, please let the link also allow a start timestamp like in https://youtu.be/VIDEOSOMETHING?t=56m54s

[2017-03-11 16:39] abecede753 commented on #55
oh. just realized how old this issue is... is the project still alive?

[2017-03-12 09:36] mpachas commented on #55
Makes sense. I have this in mind, but got no time

[2017-03-13 12:30] SalahAdDin commented on #55
Is very old, Was this issue solved?

[2017-03-13 12:33] mpachas commented on #55
@SalahAdDin no

[2017-03-13 12:50] SalahAdDin commented on #55
Can you make a small documentation about his parameters, his values and the way of youtube send they and why nedd you?

[2017-03-13 13:00] abecede753 commented on #55
The official documentation for all possible parameters is here: https://developers.google.com/youtube/player_parameters#Parameters

Furthermore, as to "why" I'd love to use these parameters: A hobby project of mine is a web site called https://gtaracing.net where people upload descriptions of racetracks (amongst other stuff) for the video game GTA Online. On YouTube there are lots of videos regard

[2017-03-13 15:19] mpachas commented on #55
I think it would be useful to be able to allow/deny/override those (all)
parameters.

2017-03-13 14:00 GMT+01:00 abecede753 <notifications@github.com>:

[2017-03-18 13:19] #69 closed

[2017-03-21 16:52] chromaticgliss opened #70 "HTTPS enabled but django admin EmbedVideoField is embedding unsecure HTTP"
It seems in the admin the form still tries to embed an HTTP video even if HTTPS is enabled and the request to page is done via HTTPS. Seems all video backends are doing this. Inspecting values in the `backend.protocol()` showed `allow_https=True` and `is_secure=False` which gets used when generating the url.

When I intercepted the actual request, django's `request.is_secure()` returns True. Seems

[2017-03-22 12:55] SalahAdDin commented on #55
Ok, i think we can pass it in a dictionary, in `**kwargs` values, but, can youtube urls receive this parameters and work with they or we need add native support for they?

[2017-04-05 17:47] Basiczombie opened #71 "Template_context_processors has been depreciated in django 1.8"
[code]

This was depreciated in Django 1.8. It is saying that Template Dictionaries take precedent. Do you have a work around to place the needed code within the Templates -> options -> context_processors in the settings post 1.8?

[code]

[2017-04-06 20:03] SalahAdDin commented on #71
Which exactly the problem?

[2017-04-06 20:43] Basiczombie commented on #71
The setting TEMPLATE_CONTEXT_PROCESSORS has been depreciated in Django 1.8. It still works but my server keeps yelling at me to put it into the TEMPLATES setting which when added to the context_processors in the Options breaks the module.

[2017-04-07 00:13] thijstriemstra commented on #71
how does it break? any error message?

[2017-04-07 08:20] SalahAdDin commented on #71
@Basiczombie can you put the warning message here please?

[2017-04-07 14:12] Basiczombie commented on #71
WARNINGS:
?: (1_8.W001) The standalone TEMPLATE_* settings were deprecated in Django 1.8 and the TEMPLATES dictionary takes precedence. You must put the values of the following settings into your default TEMPLATES dict: TEMPLATE_CONTEXT_PROCESSORS.

[2017-04-07 14:35] SalahAdDin commented on #71
But, doesn't ıt show the exactly fıle and lıne that gıve you the error?

[2017-04-16 20:34] afk-mario opened #74 "Admin Video Mixin list_display"
Add a callable function to display the video thumbnail on list_display, something like this:

[code]

[2017-04-17 16:40] SalahAdDin commented on #74
PR is welcome.

[2017-04-27 12:01] CedricCarrard commented on #71
@Basiczombie fixed with new version ?

[2017-04-27 12:45] aleksihakli opened #76 "Broken releases on PyPI"
This project has gone over a number of releases today, breaking our builds. Version `1.1.0` was pulled from PyPI and version `1.1.1` and then `1.1.1` was pulled from PyPI as well and replaced with `1.1.0a0` and `1.1.1a0`.

This breaks our builds and it is pretty annoying to go over and iterate the packages because there is no sano version in PyPI; why do you remove dependencies after adding them?

[2017-04-27 22:49] CedricCarrard commented on #76
@aleksihakli We had a problem with Pypi. Thank you for using the version 1.1.2 or 1.1.0. Sorry for the problem.

[2017-04-27 22:49] #76 closed

[2017-04-28 05:23] koterpillar opened #78 "Don't remove older versions from PyPI"
When using [pip-tools](https://github.com/jazzband/pip-tools) to pin requirements, you get `django-embed-video==1.1.0` (for example). `1.1.0` appears to have been removed from PyPI. Since `1.1.2` doesn't fix any security vulnerabilities or make `1.1.0` otherwise dangerous to use, it would be beneficial to keep the old versions on PyPI for pinned version builds to stay reproducible.

[2017-04-28 07:41] CedricCarrard commented on #78
@koterpillar We had a problem with Pypi. Thank you for using the version 1.1.2. Sorry for the problem.

[2017-04-28 07:41] #78 closed

[2017-04-28 08:54] koterpillar commented on #78
Going forward, will `1.1.2` stay on PyPI even when `1.1.3` (say) is released?

[2017-04-28 20:24] tkwon opened #79 "Version 1.1.0 gone?"
pip-compile created my requirements and used version 1.1.0. However, on some of my servers that version no longer exists.

[2017-04-28 20:38] thijstriemstra commented on #79
Duplicate of #78.

[2017-04-28 20:39] #79 closed

[2017-05-11 12:42] silentbugs opened #80 "Versions 1.1.0 and 1.1.1 have been removed from PyPI."
running `pip install django-embed-video==1.1.0` returns:

[code]

Was the removal of those releases intentional? If so, should we consider upgrading from 1.1.0? If not, why were they removed?

[2017-05-13 12:05] SalahAdDin commented on #80
:+1:

[2017-05-14 02:36] thijstriemstra commented on #80
@SalahAdDin what do you mean?

[2017-05-16 14:02] CedricCarrard commented on #80
@silentbugs We had a problem with Pypi. Thank you for using the version 1.1.2 or 1.1.0. Sorry for the problem.

[2017-05-16 14:02] #80 closed

[2017-05-23 21:52] #71 closed

[2017-06-24 15:54] johnsears commented on #69
@mpachas Are you still working on the Youku backend?

[2017-06-24 17:09] mpachas commented on #69
Yes! Sorry, will try to close this issue soon

El 24 jun. 2017 17:54, "John Sears" <notifications@github.com> escribió:

[2017-08-22 16:12] robomike opened #82 "video doesn't show"
python 2.7.13
django 1.11.4
django-embed-video==1.1.2

My template code:
`{% load embed_video_tags %}
<h1>{{ this_job.job_title }} </h1>
<h2> {{ this_job.video_url }}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  {% video item.video as my_video %}
    URL: {{ this_job.video_url }}
    {% video my_video "medium" %}
{% endvideo %}`

The video_url is a youtube video

[2017-08-23 00:11] SalahAdDin commented on #82
See the trace back please.

[2017-08-23 00:24] robomike commented on #82
Nevermind I switched to vishap and it works

[2017-08-23 15:33] SalahAdDin commented on #82
SOrry?

[2017-09-02 21:54] joelschopp commented on #55
I also need to be able to honor the starttime parameter on my site.

[2017-11-14 23:47] psyferre opened #83 "Gracefully catch errors if video is "Private""
If there a way to gracefully catch errors if a user enters a video link that is marked "private"?

Example: Client user uploads a video to Vimeo and accidentally leaves that video "Private", then enters the video url in the application.  The template attempts to retrieve the thumbnail (as illustrated in the docs) and throws an internal server error.

I've replaced all my calls for thumbnails with

[2017-11-24 22:43] SalahAdDin commented on #83
Can you make a PR please?

[2018-02-05 02:13] Tonyfoy opened #84 "Exceptions not being raised when using custom form with generic CreateView"
Is there a way to get exceptions when using `form_class` with `django.views.generic.edit.CreateView`?

It only works when I use the default CreateView
`class VideoCreate(CreateView):
    model = Video`

Also it doesn't raise exceptions in the Django shell.

[2018-03-15 20:58] merwok commented on #55
Also note that the regular watch URLs use parameters that look like t=30s or t=1m25s to encode the start time, but embed URLs need to convert that to start=30 or start=85.  I am writing a custom template tag to handle that, would like to contribute the code to django-embed-video and delete it from my project!

[2018-03-15 22:44] mpachas commented on #55
Please do it,
Thanks

El jue., 15 mar. 2018 21:58, Éric Araujo <notifications@github.com>
escribió:

[2018-03-16 20:13] SalahAdDin commented on #55
@merwok can you propose a new PR?

[2018-03-16 20:25] merwok commented on #55
Busy at the moment but will find time later.

[2018-03-28 13:31] microwriting opened #85 "UnknownBackendException from examples"
Hello, I am making my website using django-embed-video.

Since I'm thinking about starting with a configuration that is as simple as possible, I made a website only index.html, then I installed django-embed-video.
Then I added following code base on the tutorial, however, it doesn't display youtube video and display following error message.

My environment is as follows.
django 2.0
django-embed-vi

[2018-04-01 12:05] MicroWriting commented on #48
Hello, I have the same problem.
I am making small web service using almost same environment and code.
I checked the console, error message displayed as follows.

`Uncaught TypeError: Cannot read property 'fn' of undefined
    at util.js:68
    at util.js:10
    at bootstrap.min.js:6
    at bootstrap.min.js:6`

[2018-04-02 11:41] SalahAdDin commented on #48
I think you have to make a new issue.

[2018-04-02 11:47] MicroWriting commented on #48
OK. I already made new issue as follows.
https://github.com/jazzband/django-embed-video/issues/85

[2018-04-06 11:37] SalahAdDin commented on #70
@marcosguedes But, could not this package support this feature?

[2018-04-06 12:16] marcosguedes commented on #70
It does, just not by default. Should it?

I guess we're at the stage where https is becoming more widespread and all supplied backends support https so I find it justifiable to change. However the only thing I did was provide a solution for this particular problem.

[2018-05-18 13:58] tobyspark opened #87 "The plugin fails to display YouTube video on https, when reverse proxied."
The plugin fails to display YouTube video on https, when reverse proxied.

Detail – My django app is deployed behind a nginx proxy. Nginx terminates the incoming https connection, and passes on the connection internally unsecured. So `request.scheme` always reports `http` even though it is for all intents and purposes `https`.

Investigation – In `def get_backend(backend_or_url, context=None, **op

[2018-08-21 20:03] FilipeRafaeli opened #90 "unexpected keyword argument 'renderer' DJANGO 2.1"
in django 2.1 an error happens

`

Request Method: | GET
-- | --
http://localhost:8000/admin/videos/youtube/add/
2.1
TypeError
render() got an unexpected keyword argument 'renderer'

`

[2018-08-21 20:14] mgrdcm commented on #90
This is addressed in PR #88.

For now you can use the workaround mentioned there.

[2018-10-04 11:06] #90 closed

[2018-10-04 11:06] #70 closed

[2018-10-05 12:31] #87 closed

[2019-02-12 03:52] HarryBerry87 opened #96 "Example Project not updated for new Django version"
Hello,

 I am very new to Django and Python in general, and I am having an issue running the example_project provided in the repository. Looking through some of the more recent (last 6 months) issues, it seems Django 2.1 update is stopping me from [creating a database ](https://django-embed-video.readthedocs.io/en/v1.2.0/example-project.html#running-example-project).

I replaced on my machine the

[2019-03-13 23:59] GregKaleka commented on #96
Here are the minimum changes needed to get the example project to work on Django 2.x:

1. Change the `reverse` import as you mention in posts/models.py
2. Change the admin.site.urls line in example_project/urls.py to read `url(r'^admin/', admin.site.urls),`
3. Add the line `app_name = "posts"` to posts/urls.py on line 5
4. After running `migrate`, you also need to run `python manage.py loaddata in

[2019-03-18 10:53] martinburchell opened #97 "Should we handle ReadTimeout exceptions?"
My code that calls `detect_backend()` catches `EmbedVideoException`. I notice that `get_info()` in `VimeoBackend` and `SoundCloudBackend` can throw a `ReadTimeout` exception from the requests library. I'm wondering if the timeout exception should be wrapped in a new descendant of `EmbedVideoException`. That way I wouldn't have to handle `ReadTimeout` myself.

[2019-04-11 04:04] NomeChomsky opened #98 "100% x 100% width / height"
When I put {% video my_video "100% x 100%" %} into template tag, I can get 100% width, but I can't ever get 100% height. I always just get a fraction of the height, usually about 10%. I've tried putting it into a div with 100% height also, but this doesn't seem to work?

![image](https://user-images.githubusercontent.com/46587871/55929998-e453c880-5c3c-11e9-9024-89e9f3eb899a.png)

[2019-04-13 10:40] adriancarayol commented on #98
You need to set a height in pixels in the parent container, for example:

[code]

[2019-07-11 06:53] aleksihakli opened #102 "Drop deprecated Python 2.7 support"
Is it OK for everyone if the next new version drops 2.7 support?

I was planning on making a maintenance PR that adds new Django and Python versions to the test matrix and removes old ones, and would like to propose that we drop versions for which support has expired and only support Django 1.11+ and Python 3.6+.

[2019-07-19 09:41] #102 closed

[2019-07-20 11:07] #98 closed

[2019-08-20 11:11] reyesvicente opened #105 "Video not showing on frontend"
Hi,

I'm new in using this package. I followed the docs and everything is smooth sailing. But the videos won't show on the front end. On the admin, I placed the URL of a YouTube video for the models ```video = EmbedVideoField(verbose_name='Videos', help_text='Videos of Translation')``` and
<pre>
{% video object.video as amlvideo %}
Backend: {{ amlvideo.backend }}
URL: {{ amlvideo.url }}
Code: {{ a

[2019-08-22 01:18] Schizo opened #106 "Can you provide a static example for quick testing"
I wanted to check this project out, but I would like to see a static example to see how it works.

[code]

Am I missing something here ?

Thanks

[2019-08-26 09:52] aleksihakli commented on #105
Hey! Do you have the `embed_video` application in your `INSTALLED_APPS` [as per the documentation](https://django-embed-video.readthedocs.io/en/v1.2.0/installation.html)?

What is your video URL? The package only supports YouTube, Vimeo, and SoundCloud videos at the moment. You can check out the support in the [backends](https://github.com/jazzband/django-embed-video/blob/master/embed_video/backen

[2019-08-26 09:55] aleksihakli commented on #106
Are you saying that the example above does not work or that it should be available in the docs straight away?

The code should use double `{{ braces }}` in the template by the way.

[2019-08-26 09:59] aleksihakli commented on #97
It could be a good idea to raise an error with [exception chaining](https://www.python.org/dev/peps/pep-3134/#explicit-exception-chaining) by using the explicit `raise EmbedVideoException from ...`, which would make error traces a bit more readable since it would imply this plugin as the partial culprit.

[2019-08-26 10:01] aleksihakli commented on #96
The docs should be updated for multiple other settings as well as they refer to old Django configuration flags and types.

[2019-08-26 10:02] #84 closed

[2019-08-26 10:03] aleksihakli commented on #84
Closed as stale issue.

[2019-08-26 11:40] reyesvicente commented on #105
Yes, I have the ```embed_video``` on my ```INSTALLED_APPS```.

I added the youtube URL on the Django Admin as a super user. Once I hit submit, the video got embedded INSIDE the admin, not on the template.

I saw a thumbnail error from one of the tags if I remember it correctly.

[2019-08-26 13:08] aleksihakli commented on #105
Well, it seems the admin works, so the problem is most likely with your template and HTML rendering. I'd check and fix any errors there first. YouTube videos should work correctly if they are public.

[2019-08-26 15:54] reyesvicente commented on #105
What's the easiest way to show it on the template? I need a row of 3 youtube videos.

How would you fix this?
[code]

[2019-08-26 16:24] reyesvicente commented on #105
I got this error
```Backend wasn't recognised (``)
Traceback (most recent call last):
  File "/Users/highcenoid/Dev/Django/planetread/env/lib/python3.7/site-packages/embed_video/templatetags/embed_video_tags.py", line 112, in render
    backend = self.get_backend(url, context=context, **options)
  File "/Users/highcenoid/Dev/Django/planetread/env/lib/python3.7/site-packages/embed_video/templatetag

[2019-08-26 18:09] aleksihakli commented on #105
If you take a look at the [source code where the error happens](https://github.com/jazzband/django-embed-video/blob/dc3f8b1fca10ffc892469925f6ce034b09337067/embed_video/templatetags/embed_video_tags.py#L116) you can see that the backend URL should be included in the error message, but it seems like your URL isn't resolved in the `video` template tag correctly.

You are most probably using the temp

[2019-08-30 07:56] aleksihakli commented on #106
You can find examples in the example projects and tests. Please make sure you have checked out the documentation and have the application in `INSTALLED_APPS` :)

[2019-08-30 07:56] #106 closed

[2019-08-30 07:56] #105 closed

[2019-09-06 19:38] Nilansha commented on #96
1. changed (example_project -> posts -> models.py) this `from django.core.urlresolver import reverse`  to `from django.urls import reverse`
2. changed (example_project -> urls.py)
 `url(r'^admin/', include(admin.site.urls)),` to `url(r'^admin/', admin.site.urls),`
and
`url(r'^', include('posts.urls', namespace='posts')),` to `url(r'^', include('posts.urls'), name='posts'),`

Then it works fine :)

[2019-09-07 09:48] aleksihakli commented on #96
@Nilansha would you like to make a PR so we can update the upstream code?

[2019-09-07 18:13] Nilansha commented on #96
I don't have permission to make PR for you repo

[2019-09-07 18:45] aleksihakli commented on #96
@Nilansha permissions aren't the problem on GitHub. You can make a fork, which creates a repository under your account, and then make the changes. When you go to the repository on GitHun and go to pull requests view you can just open a PR and it will show here. We can then merge it with one click. I hope this helps!

[2019-09-08 07:03] Nilansha commented on #96
Great. Thanks a lot for your guidance this is my first contribution and the PR.

[2019-09-08 07:41] aleksihakli commented on #96
It's great to help people getting started! The changes look good in the fork you have made, but I can't see the PR under this repository yet. GitHub has a [decent document describing PRs from forks](https://help.github.com/en/articles/creating-a-pull-request-from-a-fork).

[2019-09-08 10:45] Nilansha commented on #96
Thanks. Done. It should ok this time.

[2019-09-08 13:19] aleksihakli commented on #96
PR merged. Thank you for the contribution @Nilansha!

[2019-09-08 13:19] #96 closed

[2019-10-10 08:47] reyesvicente commented on #48
What's this fix on this?

[2019-10-10 11:42] SalahAdDin commented on #85
@CedricCarrard Why did you close this bug?

[2019-10-10 12:53] aleksihakli commented on #85
I think this has to do with the example application and code having incorrect examples and we should fix those, reopening for further discussion.

[2019-10-10 12:55] aleksihakli commented on #48
I believe the example may be outdated please use #85 for discussion.

[2019-10-11 09:46] reyesvicente commented on #85
I'm getting this now

<pre>[11/Oct/2019 17:42:26] "GET / HTTP/1.1" 200 25285
Backend wasn't recognised (``)
Traceback (most recent call last):
  File "/root/myproject/env/lib/python3.6/site-packages/embed_video/templatetags/embed_video_tags.py", line 111, in render
    return self.embed(url, size, context=context, **options)
  File "/root/myproject/env/lib/python3.6/site-packages/embed_video/templ

[2019-10-11 09:57] aleksihakli commented on #85
@reyesvicente what version of the library are you using, and is this a new or old project?

[2019-10-11 13:19] reyesvicente commented on #85
Im using `django-embed-video==1.3`

[2020-02-10 10:13] Letme opened #121 "Support AMP pages"
I think nowdays with the traction of the AMP, we could get the video tag to support AMP style of formatting? There is `amp-youtube` tag https://amp.dev/documentation/components/amp-youtube/ and also `amp-vimeo`.

I will be soon migrating html site to amp and i used django-embed-video, so I would like to just add a setting somewhere and let the plugin generate corresponding code.

[2020-02-10 17:33] aleksihakli commented on #121
The project is always open for PRs. A new template tag would probably be the cleanest approach for implementing this, something like `{amp_video video}`

[2020-02-10 17:41] aleksihakli commented on #85
Closing as no further reports have come in. Please let us know if you want this report reopened.

[2020-02-10 17:41] #85 closed

[2020-04-08 22:05] ghost-goblin opened #125 "Can't get django-embed-video to work on the frontend"
I am trying to use django-embed-video to make posts.
I have followed the docs.
Everything is working fine on the admin page but I cant get the code to work on the template.
`{% extends "blog/base.html" %}
{% load embed_video_tags %}
{% video post.video 'small' %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">

[2020-04-14 12:33] #125 closed

[2020-04-15 04:50] StephenAM1 commented on #125
Hey ghost-goblin is there a reason you closed this? I've been struggling with getting my template tag to work. I can embed a video within admin, but I can't get it to pull through to the front-end and I really have no idea why. I've seen the issue brought up a few times on here but can't seem to find a concrete solution. If you figured something out that would be great if you could share.

[2020-04-15 09:31] ghost-goblin commented on #125
Hey Stephen,

Yes I managed to figure it out by putting the code in an iframe:
[code]
Let me know if this works :)

[2020-04-16 04:15] StephenAM1 commented on #125
Thanks for the reply :) I am still getting a UnknownBackendException, unfortunately. It just can't seem to find the instance I created in admin, I am sure I just mapped something wrong. I will keep digging, appreciate the help!

[2020-04-17 03:50] StephenAM1 commented on #125
Hey ghost-goblin, just got this to work using your code with the iframe. Thanks again for the help.

[2020-04-26 10:28] Roshik33 commented on #105
reyesvicente .. bind the video inside the for
{% load embed_video_tags %}

{% for items in allitems %}
<div><p>{{items.title}}</p>

{% video items.video as my_video %}

  {% video my_video "large" %}
{% endvideo %}

{% video my_video '800x600' %}
	</div>
	{% endfor %}

views.py
def home(request):
   allItems= Item.objects.all()
   context= {'allitems': allItems}
   return render(request, 'post/pos

[2020-04-26 18:45] reyesvicente commented on #105
Posting a solution for the benefit of everyone:

[code]

[2020-05-29 08:28] agilealpha1 opened #126 "django.db.utils.OperationalError: no such table: posts_post"

[2020-05-30 06:46] #126 closed

[2020-05-30 06:46] agilealpha1 commented on #126
url(r"^", include(('posts.urls','app_name'),namespace='posts')),

[2020-05-30 07:10] agilealpha1 opened #127 "video unavailable"
![スクリーンショット 2020-05-30 15 48 02](https://user-images.githubusercontent.com/49577021/83322101-f6088d00-a28f-11ea-9bad-906f23285796.png)

[2020-06-10 08:54] sudhanshu456 commented on #127
please state your problem correctly and provide the related code, which you used to implement this .!!

[2020-06-10 15:40] jezdez opened #129 "Emails to @mgrdcm not deliverable"
Hey @mgrdcm, as a project lead we need to be able to reach you via email and the email address that the Jazzband site has fetched from the GitHub API is defunct according our email provider. Please reach out to me about this so you can receive email notifications again.

I've temporarily disabled your project lead permissions to mitigate a possible domain take over.

@aleksihakli FYI ^

[2020-06-11 07:40] aleksihakli commented on #129
@jezdez thanks for letting me know as well! I'll try and handle releases in the meanwhile.

[2020-07-02 14:43] pavlov-victor commented on #127
I have same problem with this code
[code]
or
[code]

browser - Yandex browser latest
country - Rus

[2020-07-02 17:47] cocuriosa opened #130 "GraphQL Youtube SSL problem: Max retries exceeded with url ... caused by NewConnectionError"
# Bug Report

**Bug Description**
When I'm develloping locally on my Windows machine, I often get the problem of not being able to open pages that include an embedded youTube video on the app I'm building (running Django in the backend, connecting front- and backend with Graphene/GraphQL).
On the production server the problem doesn't exist. I only experience it locally.

**Odd Observations**
My bo

[2020-08-03 21:59] 221BBakerSt commented on #127
I've got the same trouble as well @Jazzband

[2020-08-12 16:42] Dreded opened #131 "No thumbnails with Vimeo Backend"
good day,
Appreciate the effort you(all) put in

So, I cannot get thumbnails to show, I have the same issue using the example project

in the example list view nothing will list, and has same error

if I use the video detail view without the thumbnail code it works without error...

`
{% video object.video as my_video %}
    URL: {{ my_video.url }}
    Backend: {{ my_video.backend }}
    {% video

[2020-08-31 09:41] goromachine opened #132 "Suddenly stopped working on AWS."
I've been using this package since more than a year without any problem and, without making any change to my code, it just stopped working on server, but still working on my local machine.

This is the created html by the tags and the video is real and actually public on youtube:

`<iframe width="640" height="360" src="http://www.youtube.com/embed/yOcZmmg186Y?wmode=opaque" frameborder="0" allowful

[2020-09-05 20:39] aleksihakli commented on #132
Does the AWS EC2 server have

1. security group rules configured that allow outbound egress traffic to YouTube and
2. access to the Internet either via elastic network interface that has a public IP address or a NAT gateway in the VPC?

I'd suspect a configuration change in the networking stack that prevents the server from getting the video information from the specific backend. On AWS it's prett

[2020-09-08 10:04] goromachine commented on #132
I did not changed anything on the server either. I checked also and the outbound traffic rules are set with an `All traffic` Type:
![image](https://user-images.githubusercontent.com/12257503/92462683-128b5e00-f1cb-11ea-87a6-fc1522df132f.png)

About the second point, I really don't know how to check that but I create my environments using ElasticBeanstalk and I did not configure anything about the

[2020-09-08 10:21] aleksihakli commented on #132
Check your server logs to see if there is an indication of any network error. You can also check if your instances have either a public Elastic IP address or if your VPC has a NAT gateway configured in the appropriate AWS region:

- https://eu-central-1.console.aws.amazon.com/ec2/v2/home?region=eu-central-1#Instances:
- https://eu-central-1.console.aws.amazon.com/vpc/home?region=eu-central-1#NatGa

[2020-09-09 15:10] goromachine commented on #132
I've seen the problem on the console now (sorry for my inexperience):

[code]
But the url of the video added have https: `https://www.youtube.com/watch?v=r6lU5mJJIeg` .

My current block of code is:
[code]
And searching on the examples I've seen that I can add the is_secure=True to it. I supposed this makes the connection secure, but it did anything:
[code]
The resulting code is the same with the

[2020-09-10 15:54] goromachine commented on #132
On the embed_vide_tags.py I found that there is another way of adding it to the template:
[code]
so in my case I did this:
`{% video project.video '640x360' query="rel=0&wmode=transparent" is_secure=True %}`

And worked fine. Now the url contains https and is showing as an embeded video.

BUT I'm not closing this issue because it seems to be a problem with the is_secure on the block template code

[2020-09-10 16:04] aleksihakli commented on #132
Have you configured the `SECURE_PROXY_SSL_HEADER` as per Django documentation so that your site (Django server) knows that it is being served over HTTPS and not HTTP? The load balancer probably strips the site URL, sets it into the HTTP headers and uses a local IP address or hostname for serving the site. The same applies for HTTP vs. HTTPS information which is contained in the headers and needs t

[2020-09-10 16:07] goromachine commented on #132
I did not, but I'll try it right now.
It's weird that in one way is working fine but on the other one do not.

[2020-11-21 19:50] mgrdcm commented on #132
@goromachine Any luck on this?

[2020-11-24 00:20] mgrdcm commented on #129
Hey @jezdez!  Sorry, my colo'd server had some hardware problems.  I've fixed my profile.

[2020-11-25 23:12] jezdez commented on #129
@mgrdcm Hey there, thank you for updating your GitHub profile, sadly that's not enough for this to work since we're actually fetching the email addresses from your GitHub user info, so basically the actual email addresses that you added to GitHub and verified. Could you double-check if a working email address is listed on your https://github.com/settings/emails?

Alternatively, it would help if yo

[2020-11-25 23:14] mgrdcm commented on #129
@jezdez  Done!  It was showing as pending authorization so that link must have broken at some point.  How does it look now?

[2020-11-25 23:33] jezdez commented on #129
@mgrdcm That did the trick, thank you! I've reinstated you as project lead. If you don't mind, I'll leave @aleksihakli as a backup. Cheers!

[2020-11-25 23:33] #129 closed

[2020-11-26 00:19] mgrdcm commented on #129
Oh absolutely @jezdez the more the merrier.  Actually since I've had that power I don't think I've even handled a release yet!

[2020-11-26 01:36] dtdibaba opened #140 "django-embed-video attaches "_RvGGQVH" to video"

[2020-12-02 16:11] aleksihakli commented on #140
Could we have a bit more description on this?

[2020-12-03 03:19] dtdibaba commented on #140
Sorry, I found out the problem was caused by another package not this one. This one works perfectly. I was trying to add media upload button it failed to play the media after uploading.

[2020-12-03 08:28] aleksihakli commented on #140
OK, good to know! I'll go ahead and close this issue then. Thanks for checking back with the issue.

[2020-12-03 08:28] #140 closed

[2020-12-03 20:20] dtdibaba commented on #140
Yes, you can close it.

[2020-12-18 10:19] jezdez opened #146 "Issues with testing on Pypy3"
Seems like something is wrong with the Pypy3 setup: https://github.com/jazzband/django-embed-video/actions/runs/430202855

@aleksihakli Any idea what that could be?

[2020-12-18 17:01] aleksihakli commented on #146
Seems like the problem is https://github.com/actions/setup-python/issues/171

I'm wondering if we should just deprecate PyPy3 from the required test matrix, or keep it?

Please also see jazzband/django-embed-video#147

[2020-12-18 17:17] jezdez commented on #146
Let's keep it as there seems to be a fix already out.

[2020-12-18 17:17] #146 closed

[2020-12-18 17:28] aleksihakli commented on #127
Is this issue still relevant? We haven't heard back in a while and I'm just checking if you are still facing the problem.

[2020-12-18 17:28] aleksihakli commented on #131
Is this issue still relevant? We haven't heard back in a while and I'm just checking if you are still facing the problem.

[2020-12-18 17:29] aleksihakli commented on #132
Is this issue still relevant? We haven't heard back in a while and I'm just checking if you are still facing the problem.

[2020-12-18 17:36] 221BBakerSt commented on #127
I figured it out. The problem is some videos are set by the Youtuber not to be allowed to share. So it works for most videos.

[2020-12-18 17:39] aleksihakli commented on #127
Great, closing the issue then :) Thanks for reporting back.

[2020-12-18 17:39] #127 closed

[2021-01-10 07:18] abhishekgoyal-a11y opened #151 "Template and URL name"
what should be the template name and in urlpatterns what is the url name?

[2021-01-10 07:29] abhishekgoyal-a11y opened #152 "Showing error"
Showing error

Backend wasn't recognised (``)
Traceback (most recent call last):
  File "C:\Python38\lib\site-packages\embed_video\templatetags\embed_video_tags.py", line 117, in render
    return self.embed(url, size, context=context, **options)
  File "C:\Python38\lib\site-packages\embed_video\templatetags\embed_video_tags.py", line 196, in embed
    backend = cls.get_backend(url, context=contex

[2021-01-20 23:12] Lifechess commented on #152
I'm curious about this issue too, i got the same error?

[2021-01-21 00:27] mgrdcm commented on #152
@abhishekgoyal-a11y and @Lifechess can you include the URL that you're trying to load via `django-embed-video` please?

[2021-01-21 01:32] Lifechess commented on #152
https://www.youtube.com/watch?v=CYAHqNWLiq0

[2021-03-17 10:49] pawel-ch opened #154 "Polish translation"
Hi, would you be interested in PR from last 2 commits from https://github.com/propertygroup/django-embed-video/commits/master? That would be the first translation, so I don't know what convention would be appropriate and how would you like to treat the metadata: remove or fill. And if fill, then in what way?

Of course I can adjust anything before creating PR.

[2021-03-22 11:16] aleksihakli commented on #154
Hi @pawel-ch! I think translations and setting them up are always cool, Django itself does it. This would make it easier for future contributors to add any necessary translations as well. Please feel free to open a PR 👍

[2022-01-06 16:57] #132 closed

[2022-01-06 16:58] #151 closed

[2022-01-06 16:58] #131 closed

[2022-01-07 16:21] paulr2021 commented on #152
Have installed version 1.4.1 today, also getting same error as above.

`[07/Jan/2022 16:21:06] "GET / HTTP/1.1" 200 3615
Backend wasn't recognised (``)
Traceback (most recent call last):
  File "/Users/paulr/PycharmProjects/django-cms/venv/lib/python3.9/site-packages/embed_video/templatetags/embed_video_tags.py", line 118, in render
    backend = self.get_backend(url, context=context, **options)

[2022-01-08 21:43] aleksihakli opened #168 "Adjust project settings to allow merging PRs"
Current project settings seem to require deprecated build checks before merging in e.g. #167

Would it be possible to reconfigure PR checks?

[2022-01-11 16:34] jezdez commented on #168
<img width="746" alt="CleanShot 2022-01-11 at 17 34 29@2x" src="https://user-images.githubusercontent.com/1610/148983245-d78e8c2a-529c-48aa-a8c3-6c3c42f288d1.png">

Does this look right?

[2022-01-11 17:49] aleksihakli commented on #168
I think that looks good if we want to keep the gates on for status checks, I was able to succesfully merge the PR with Django updates with these settings 👍 Thanks!

[2022-01-11 17:49] #168 closed

[2022-02-03 16:40] hop opened #169 "Add (Youtube) playlist support"
I would like to add support for Youtube playlists, if you are interested.

For now I've implemented a separate backend to make fiddling around easier. Which would you prefer: this approach or merging all the logic into the existing backend? The latter seems a bit messy, since playlist IDs are of a different length and given as query parameters.

Related question: the fallback to `urlparse` in http

[2022-03-09 09:44] pawel-ch commented on #154
Hi @aleksihakli, I just created the PR. I'm sorry it took so long.

Making more translations is as simple as:
[code]

[2022-03-17 11:52] aleksihakli commented on #154
Thanks for the PR @pawel-ch! 👍

[2022-03-29 15:40] nmcilree opened #172 "django-embed-video==1.2 is rendering the iframe as HTTP rather than HTTPS."
When I use the code below the iframe URL is generated as HTTP rather than HTTPS.  This means the video does not render because of Chrome mixed protocol policy. Should it be rendering as HTTPS or am I doing something wrong.

1. The URL added is HTTPS
2. When I manually create the iframe with src of my_video.url it works
3. This happens on both Youtube and Vimeo

**Template code:**

[code]

**HTML o

[2022-04-08 19:30] aleksihakli commented on #172
Hi @nmcilree! Have you checked that this is also happening with the latest version i.e. 1.4.3?

[2022-04-11 16:00] kakulukia opened #175 "example_project outdated"
I just tried to start the example project and there are multiple issues with that. :(

1. requirements.txt lists Django>=2.2 which is not compatible with the example_project
2. requirements.txt does not include django-embed-video and fails to start
3. the instructions on how to install the example_project fail to mention how to install the fixtures for posts app and thus you get an empty page
4. '

[2022-04-14 02:57] eagleoflqj opened #176 "Option to disable request"
Our website has many YouTube videos on a single template. When the template is rendered, django-embed-video sends a request to verify the thumbnail for each video that asks for it. That adds up to a huge response time.
Do you think it makes sense to have an option at django settings to disable backend requests? If so I'd be glad to send a PR (but I need some time to get familiar to the code base).

[2022-04-15 16:11] aleksihakli commented on #175
Hey @kakulukia and thanks for reporting the issue!

Would you be interested in opening a PR that fixes the aforementioned issues?

[2022-04-15 16:13] aleksihakli commented on #169
Hi @hop! Adding a separate implementation for the playlists could be a good first step and then we could see if the single video and playlist support would be easier to support in one or two distinct backends.

[2022-04-17 10:47] #176 closed

[2022-07-11 18:25] lennartschulz opened #181 "adding classes"
hey there, love your work.
is there any way to add classes to the iframe just like i.e. the size or query parameters?

[2022-07-18 10:51] aleksihakli commented on #175
Fixed by #179

[2022-08-08 20:36] Remiz opened #182 "XSS possible in YoutubeBackend with user-provided URL"
Hi,

I think I've noticed a possible XSS using this package when users are allowed to provide urls.
Here is the code I've used reproduce the issue:
[code]

And here is the result of the embedded code:
[code]

It looks like the url encoded double quotes are decoded by urlparse.parse_qs somehow.

[2022-08-10 19:43] Remiz commented on #182
I think I've been able to mitigate the issue by simply removing every space character from the provided url.
I'm not sure if the responsibility of sanitizing the video URLs should be on this package or not, so I'll leave this bug report open, but if you feel it should be the package user's responsibility, feel free to close it.

[2022-09-03 11:30] angryfoxx opened #185 "wrong path on installation.rst"
The 'request' path on installation.rst is wrong. It's must be 'django.template.context_processors.request'
![installation_rst](https://user-images.githubusercontent.com/88541716/188268090-63b2b75b-d68e-4d9b-a84d-f7e1f7d96b39.png)

[2022-09-10 11:19] aleksihakli commented on #185
Thanks for reporting @angryfoxx! Would you be inclined to open a PR for updating the documentation?

[2022-09-28 08:56] aleksihakli commented on #182
Fixed by #187

[2022-09-28 08:56] #182 closed

[2022-11-01 14:10] angryfoxx commented on #185
#192

[2022-11-01 14:11] angryfoxx commented on #185
fix: installation.rst #192